body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.main_div {
  justify-content: center;
  display: flex;
  text-align: center;
}
.center_div {
  background-color: dimgrey;
  padding: 5rem;
}
.card-Ui {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 350px;
  height: 350px;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  text-align: center;
}
.card-Ui-dark {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 350px;
  height: 350px;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  background-color: #1b1b1b;
}
.card-Ui div{
display: flex;
justify-content: center;
align-items: center;
align-content: center;
}

h2 {
  text-align: center;
}
.card-Ui:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #f8bbd0bf;
  border: 0.5px rgba(105, 105, 105, 0.111) solid;
}
.card-Ui-dark:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #6d6d6dbf;
  border: 0.5px rgba(105, 105, 105, 0.111) solid;
}

img {
  border-radius: 5px 5px 0 0;
}

text{
  color: #000;
}
.text-dark{
  color: #FFF;
}
/* 
.dark-bg{
  color: #fff;
  background-color: #303030;
}
.white-bg{
  color: #000;
  background-color: #ffffff;
} */

.container {
  height: 100%;
  padding: 2px 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  align-items: center;
 background-color: #fff;
  color:black ;
}
.container-dark {
  background-color: black;
  color: #fff;
  height: 100%;
  padding: 2px 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  align-items: center;
}
.HeaderBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0px 47px;
  height: 50px;
  align-items: center;
  background: #eeeeee;
  /* color: #141414; */
  font-size: 20px;
  text-decoration: none;

}
.HeaderBar-dark  {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0px 47px;
  height: 50px;
  align-items: center;
  background: #141414;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.Navbar {
  display: flex;
  padding: 0px 47px;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}
a{
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
}